header
{
    background: rgba(114,224,187, 0.5);
    width: 100%;
    display: table;
}

.menu
{
    width: 900px;
    margin: 0px;
}

img
{  
    float: left;
    padding: 8px;
}

nav
{
    float: right;
    font-family: Arial;
}
.menu nav ul li
{   color: white;
    list-style: none;
    margin-left: 25px;
    float: left;
    padding: 25px 0;   
}

#cara-perro
{
    margin: 0px;
    padding: 0px;
    height: 300px;
    width: 100%;
    background:rgb(114,224,187);
}



.sociales
{
    font-family: 'Arial Black' ;
    background: rgb(114,224,187);
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.sociales ul
{
    padding: 10px 10px;
    
}


.sociales ul li
{
    list-style: none;    
    display: inline-block;

}

.numero
{
    color: white;
    font-weight: bolder;
    float: left;
    padding: 30px;
    margin: 40px 0px 30px 0px;
}

.mision
{
    color: white;
    margin-left: 50px;
    margin-top: 70px;
    border-left: 40px;
    padding-left: 30px;
    float: center;

}

.sociales ul div
{  float: right; 
   padding: 30px }

.sociales ul div li img
{
    border-radius: 30px;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin: 30px 0px 30px 0px;   
}




#pantalla-dividida
{
    margin: 30px 0px 0px 0px;
    display: flex;
    font-family: Arial;

    
}

.izquierda
{
    width:  50%;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

h2
{
    margin: 20px 30px 5px 0px;
}
h5
{
    color: rgba(0,0,0, 0.5);
    margin: 0px 30px 20px 0px;
    font-weight: bold;
}
hr
{
    width: 6%;
    float: right;
    margin: 0px 30px 30px 0px;
}
.izquierda p
{
    color: rgba(0,0,0, 0.5);
    margin: 10px 30px 0px 40px;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

#perro-negro
{
    margin: 30px;
    float: right;
    padding: 0px;
    display: block;
}

.derecha
{
    width: 50%;
    
}

#comida
{
    height: 250px;
    
}

.derecha h2
{
    margin: 20px 30px 5px 200px;
}
.derecha h5
{
    color: rgba(0,0,0, 0.5);
    margin: 0px 30px 20px 0px;
    font-weight: bold;
}
.derecha hr
{
    width: 6%;
    float: left;
    margin: 0px 30px 30px 0px;
}
.derecha p
{
    color: rgba(0,0,0, 0.5);
    margin: 10px 30px 0px 0px;
    float: left;
    font-size: 14px;
    font-weight: bold;
}

#camp
{
    border:  black solid 2px;
    padding: 10px;
    color:black;

}
footer
{
    color: rgba(0,0,0, 0.5);
    font-family: Arial;
    font-size: 12px;
    font-weight: bolder;
    background:rgb(216,216,216);
    padding: 0px 40px 40px 40px;
}
